<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Sign in through Steam</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1>Sign in through Steam</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="{{ auth_request_url }}">
            <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_02.png">
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
